<%= @allbooks %>

<%= link_to "new a book", new_book_stream_path%>

<table>
	<thead>
		<tr>
			<th>book name</th>
		</tr>
	</thead>
	<tbody>
		<% @allbooks.each do |book| -%>
		<tr>
			<th><%=book.book_name %></td>
		</tr>
		<%end-%>
	</tbody>
</table>
