<!DOCTYPE html>
<html>
<head>
  <title>Whoiam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="id-all-page" class="all-page" >
  <div id="id-top-bar" class="top-bar" >
    <ul>
      <li>login</li>
    </ul>  
  </div>
  <div id="id-main-page" class="main-page" ></div>  
  <div id="id-bottom-bar" class="bottom-bar" ></div>
</div>
<%= yield %>

</body>
</html>
